<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <h2 class="h3 mb-4 page-title">Ma description</h2>
      <div class="my-4">
          <div class="row mt-5 align-items-center">
            <div class="col-md-3 text-center mb-5 position-relative">
              <label for="upload-avatar" class="position-relative d-inline-block" style="cursor: pointer;">
                <% if (descriptionRecente.photo) { %>
                  <img src="data:image/jpeg;base64,<%= descriptionRecente.photoBase64 %>" alt="..." class="avatar-img rounded-circle" style="width: 120px; height: 120px; object-fit: cover;">
                <% } %>

                  <div class="position-absolute" style="bottom: 0; right: 0; background-color: white; border-radius: 50%; padding: 6px;">
                    <i class="fe fe-camera fe-16"></i>
                  </div>
                </label>
                <form action="/new-description" method="post" enctype="multipart/form-data">
                <input type="file" id="upload-avatar" accept="image/*" style="display: none;" name="photo">
            </div>
            <div class="col">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <% if (descriptionRecente.utilisateur && descriptionRecente.utilisateur.username) { %>
                    <h4 class="mb-3"><%= descriptionRecente.titre %> <%= descriptionRecente.utilisateur.username %>, a <%= descriptionRecente.position.intitule %></h4>
                  <% } %>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-12">
                  <p class="text-muted"><%= descriptionRecente.introduction %></p>
                  <p class="small mb-0 text-muted">Numéro de téléphone: +261 (0) 32 21 344 71</p>
                  <p class="small mb-0 text-muted">Adresse: LOT AVB 21 Avarabohitra Itaosy</p>
                  <p class="small mb-0 text-muted">LinkedIn: <a href="http://www-linkedin.com/angoty-rabarijaona">Angoty RABARIJAONA</a> </p> 
                </div>
              </div>
            </div>
          </div>
        
          <hr class="my-4">
          <div class="form-group">
            <select name="idPosition" class="form-control" id="">
              <% positions.forEach(position => { %>
              <option value="<%= position.idPosition %>"><%= position.intitule %></option>
              <% }) %>
            </select>
          </div>
          <div class="form-group">
            <label for="firstname">Titre</label>
            <% if (descriptionRecente) { %>
            <textarea class="form-control" id="example-textarea" rows="4" name="titre"><%= descriptionRecente.titre %></textarea>
          </div>
          <div class="form-group">
            <label for="inputEmail4">Description:</label>
            <textarea class="form-control" id="example-textarea" rows="4" name="introduction"><%= descriptionRecente.introduction %></textarea>
          <% } %>
          </div>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </form>
      </div> 
    </div> 
  </div>
</div> 