<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <h2 class="h3 mb-4 page-title">My profile</h2>
      <div class="my-4">
        <form>
          <div class="row mt-5 align-items-center">
            <div class="col-md-3 text-center mb-5 position-relative">
              <label for="upload-avatar" class="position-relative d-inline-block" style="cursor: pointer;">
                <img src="images/profil.jpg" alt="..." class="avatar-img rounded-circle" style="width: 120px; height: 120px; object-fit: cover;">
                <div class="position-absolute" style="bottom: 0; right: 0; background-color: white; border-radius: 50%; padding: 6px;"><i class="fe fe-camera fe-16"></i></div>
                </label>
              <input type="file" id="upload-avatar" accept="image/*" style="display: none;">
            </div>
            <div class="col">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <h4 class="mb-1"><%= utilisateur.nom %> <%= utilisateur.firstname %></h4>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-7">
                  <p class="text-muted">Développeuse Full Stack</p>
                  <p class="small mb-0 text-muted">Numéro de téléphone: +261 (0) 32 21 344 71</p>
                  <p class="small mb-0 text-muted">Adresse: LOT AVB 21 Avarabohitra Itaosy</p>
                  <p class="small mb-0 text-muted">LinkedIn: <a href="http://www-linkedin.com/angoty-rabarijaona">Angoty RABARIJAONA</a> </p> 
                </div>
              </div>
            </div>
          </div>
          <hr class="my-4">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstname">Prénoms:</label>
              <input type="text" id="firstname" class="form-control" placeholder="<%= utilisateur.firstname %>" name="firstname">
            </div>
            <div class="form-group col-md-6">
              <label for="lastname">Nom:</label>
              <input type="text" id="lastname" class="form-control" placeholder="<%= utilisateur.nom %>" name="nom">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail4">Nom d'utilisateur:</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="<%= utilisateur.username %>" name="username">
          </div>
          <div class="form-group">
            <label for="inputEmail4">Adresse email:</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="<%= utilisateur.email %>" name="email">
          </div>
          <hr class="my-4">
          <div class="row mb-4">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputPassword4">Ancien mot de passe</label>
                <input type="password" class="form-control" id="inputPassword5" value="<%= utilisateur.mot_de_passe %>">
              </div>
              <div class="form-group">
                <label for="inputPassword5">Nouveau mot de passe</label>
                <input type="password" class="form-control" id="inputPassword5" name="nouveau">
              </div>
              <div class="form-group">
                <label for="inputPassword6">Retapez le mot de passe à nouveau</label>
                <input type="password" class="form-control" id="inputPassword6" name="confirmation">
              </div>
            </div>
            <div class="col-md-6">
              <p class="mb-2">Exigences pour le mot de passe</p>
              <p class="small text-muted mb-2">Pour créer un nouveau mot de passe, vous devez respecter toutes les exigences suivantes :</p>
              <ul class="small text-muted pl-4 mb-0">
                <li>Minimum de 8 caractères</li>
                <li>Au moins un caractère spécial</li>
                <li>Au moins un chiffre</li>
                <li>Ne peut pas être identique à un mot de passe précédent</li>
              </ul>
            </div>              
          </div>
          <button type="submit" class="btn btn-primary">Sauvegarder</button>
        </form>
      </div> 
    </div> 
  </div>
</div> 